<%- include('partials/header') %>
  <main class="form-signin">
    <%- include('partials/message') %>
    <form action="/auth/login" method="post" class="text-center">
      <h1 class="h3 mb-3 fw-normal">Please sign in 🪵😇</h1>
      <div class="form-floating">
        <input required type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="mb-3">
        <label>
          <a href="/auth/signup">signup</a>
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
      <p class="mt-5 mb-3 text-muted">© All rights reserved</p>
    </form>
  </main>
<%- include('partials/footer') %>